[submodule "deps/ActionBarSherlock"]
	path = deps/ActionBarSherlock
	url = http://github.com/JakeWharton/ActionBarSherlock.git
[submodule "deps/actionservice"]
	path = deps/actionservice
	url = http://github.com/pixmob/actionservice
